@font-face {
  font-family: 'OpenSans';
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}
  
@font-face {
  font-family: 'OpenSans';
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.conteiner {
  font-family: 'OpenSans', serif;

}

/* cстили для футера */
/*
.banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  height: 449px;
  background-color: slategrey;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 1px #000000;
}
*/

.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: slategrey;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 1px #000000;
  min-width: 1200px;
  padding: 28px 15px 145px;
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.45;

  z-index: 1;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1170px;
  margin-bottom: 125px;

  z-index: 2;
}

.logo {
  width: 179px;
  height: 41px;
}

.menu {
  font-size: 13px;
  text-transform: uppercase;
}

.menu-list {
  display: flex;
}

.menu-list-item{
  list-style: none;
}

.menu-link {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}

.menu-list-item:nth-child(n+2){
  margin-left: 38px;
}

.banner-text {
  position: relative;
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.67;
  text-align: center;
  color: #ffffff;
  width: 735px;

  z-index: 2;
}

/* стили для блока с контентом страницы */

.main-content {
  display: flex;
  padding: 60px 15px 70px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

 /* стили для блока с новостями */

.newsboxes {
  width: 778px;
} 

.news-box {
  display: flex;
  margin-bottom: 60px;
}

.news-box-img {
  display: block;
  width: 381px;
  height: 294px;
  background-color: #eff6f1;
}

.news-box-content {
  margin-left: 30px;
}

.news-box-category {
  display: flex;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.news-box-category-list {
  list-style: none;
  margin-right: 20px;
}

.nwes-box-category-link {
  text-decoration: none;
  color: #b59f5b;
}

.news-box-category-list:last-child {
  margin-right: 0;
}


.news-box-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  color: #0f0d0e;
  text-transform: uppercase;
  text-decoration: none;
}

.news-box-meta {
  display: flex;
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.news-box-date {
  color: #888888;
  margin-right: 15px;
}

.news-box-autor {
  font-weight: bold;
  color: #000000;
}

.news-box-text {
  width: 363px;
  font-size: 15px;
  line-height: 1.47;
  color: #0f0d0e;
}

/* стили для боковой колонки с Resent News */

.sidebar {
  width: 272px;
  margin-left: 120px;
}
.sidebar-title {
  font-size: 14px;
  font-weight: bold;
  color: #0f0d0e;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.sidebar-title::after {
  position: absolute;
  content: "";
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin-top: 25px;
}

.resent-post-item {
  display: flex;
}

.recent-post-img {
  display: block;
  background-color: #999999;
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.recent-post-date {
  opacity: 0.54;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
 }

.resent-post-item-title-link {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}


/* стили для боковой колонки с поиском */

.search, .subscribe, .tags, .categorys {
  margin-top: 61px;
}

.search {
  display: flex;
  justify-content: center;
}

.form-field {
  height: 48px;
  background-color: #f4f7f6;
  border: 0 solid white;
  padding-left: 18px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
}

.search-field {
  width: 224px;
}

.button {
  background-color: #b59f5b;
  border: 0 solid white;
  cursor: pointer;
}


.search-button {
  width: 48px;
  height: 48px;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center center;
}

.button, .search-field, .subscribe-field, .subscribe-button:focus {
  outline: none;
}

/* стили для боковой колонки с подпиской*/

.subscribe {
  background-color: ;
}

.subscribe-field {
  box-sizing: border-box;
  width: 272px;
  margin-bottom: 15px;
  display: block
}

.subscribe-button {
  box-sizing: border-box;
  width: 272px;
  padding: 19px 98px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

/* стили для боковой колонки с тегами*/

.tags-list {
  display: flex;
  flex-wrap: wrap;
}

.tags-list-item {
  box-sizing: border-box;
  list-style: none;
  padding: 5px 10px;
  text-align: center;
  border: solid 3px #eeeeee;
  margin-right: 5px;
  margin-bottom: 5px;
}

.tags-list-item:last-child {
  margin-right: 0;
}

.tags-link {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: #0f0d0e;
  text-transform: uppercase;
}

/* стили для боковой колонки с категориями*/
.categorys {
  margin-top: 50px;
}

.category-list-item {
  list-style: none;
  padding: 10px 0;
  border-bottom: 1px solid #eeeeee;;
}

.category-link {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}

.hoofletters {
  font-size: 12px;
  font-weight: bold;
  color: #b59f5b;
}

/* стили для футера */

.footer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 35px;
}

.social {
  background-color: #f4f7f6;
  text-align: center;
  padding: 32px 0;
}


.social-list {
 display: flex;
 justify-content: center;
}

.social-list-item {
  list-style: none;
  margin-right: 28px;
}

.social-list-item:last-child {
  margin-right: 0;
}

.twitter {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg);
}

.pinterest {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg);
}

.facebook {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg);
}

.instagram {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg);
}
.tumbler {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
}

.social-icon::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.copyright {
  margin-top: 73px;
  text-align: center;
}

.copyright a {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: #999999;
}
