@font-face {
  font-family: 'OpenSans';
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}
  
@font-face {
  font-family: 'OpenSans';
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.conteiner {
  font-family: 'OpenSans', serif;
  width: 1660px;
  margin: 0 auto;
}

.banner {
  position: relative;
  height: 449px;
  background-color: slategrey;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
  background-repeat: no-repeat;
  border: solid 1px #000000;
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.45;
  z-index:1;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 3;
}

.logo {
  width: 179px;
  height: 41px;
  margin-top: 28px;
  margin-left: 128px;
}

.menu {
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 45px;
  margin-right: 245px;
}

.menu-list {
  display: flex;
}

.menu-list-item{
  list-style: none;
}

.menu-link {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}

.menu-link:nth-child(-n+6){
  margin-right: 50px;
}

.header-text {
  position: relative;
  z-index: 3;
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.67;
  text-align: center;
  color: #ffffff;
  width: 735px;
  margin-top: 125px;
  margin-left: auto;
  margin-right: auto;
}